---
import { getCollection } from "astro:content";
import BlogPost from "../../layouts/BlogPost.astro";
import { render } from "astro:content";

export async function getStaticPaths() {
    const posts = await getCollection("blog");
    return posts.map((post) => ({
        params: { id: post.id },
        props: { post },
    }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<BlogPost title={post.data.title}>
    <h1>{post.data.title}</h1>
    <datetime>{post.data.date}</datetime>
    <p>By {post.data.author}</p>
    <Content />
</BlogPost>
