---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { render } from "astro:content";
import Container from "../../components/Container.astro";

export async function getStaticPaths() {
    const posts = await getCollection("blog");
    return posts.map((post) => ({
        params: { id: post.id },
        props: { post },
    }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout title={post.data.title}>
    <Container type="narrow">
        <a href="/blog">&larr; Go back</a>
        <h1>{post.data.title}</h1>
        <datetime>{post.data.date}</datetime>
        <p>By {post.data.author}</p>
        <Content />
    </Container>
</Layout>
