---
import Container from "../../components/Container.astro";
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
---

<Layout title="Blog">
    <Container type="narrow">
        <h1>Blog</h1>

        <ul>
            {
                posts.map((post) => (
                    <li>
                        <a href={`/blog/${post.id}`}>{post.data.title}</a>
                    </li>
                ))
            }
        </ul>
    </Container>
</Layout>
