---
import Container from "../components/Container.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
    <Container type="wide">
        <h1>About</h1>
    </Container>
</Layout>
