---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const menu = await getCollection("menu");
---

<Layout title="Menu">
    <h1>Menu</h1>
    <ul>
        {
            menu.map((item) => (
                <li>
                    <h2>{item.data.title}</h2>
                    <p>{item.data.description}</p>
                    <p>Price: ${item.data.price}</p>
                </li>
            ))
        }
    </ul>
</Layout>
