---
import Container from "./Container.astro";
import { getCollection } from "astro:content";

const menu = await getCollection("menu");
---

<section>
    <Container type="narrow">
        <h1>Menu</h1>
        <ul>
            {
                menu.map((item) => (
                    <li>
                        <h2>{item.data.title}</h2>
                        <p>{item.data.description}</p>
                        <p>Price: ${item.data.price}</p>
                    </li>
                ))
            }
        </ul>
    </Container>
</section>
